version: '3.8'

services:
  backend:
    image: grupo3backend:1
    ports:
      - target: 8083
        published: 8083
        protocol: tcp
        mode: host
    networks:
      - desarrollo_grupotres
  db3:
    image: postgres:15.0-bullseye
    environment:
      - TZ=America/Guayaquil
      - POSTGRES_DB=automatizacion
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - pg_tendencia_grupotres:/var/lib/postgresql/data/pgdata
    networks:
      - desarrollo_grupotres
           
volumes:
  pg_tendencia_grupotres:
    external: true

networks:
  desarrollo_grupotres:
    external: true

secrets:
  db_dev_pass:
    external: true  